
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Belleza|Calligraffitti|Chonburi|Forum|Imprima&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Belleza|Calligraffitti|Carter+One|Chonburi|Forum|Imprima&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amarante|Elsie|Paprika&display=swap');

#intro{

   color: white;
   font-weight: bold;

   text-align: center;
   text-transform: uppercase;
   padding-top: 230px;
   height: 600px;
   font-family: Calligraffitti;
 }

}
h1{
  color:red;
  font-family: Calligraffitti;

}
body{
  
    background-image: url("../images/intro.jpg");
    background-size: cover;
     background-repeat: no-repeat;
  background-color: red;
}
.btn{
  color: white;
  border-color: black;
}
